*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

body {  
  margin: 0;
}

.container {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width:720px) {
  hr {
    display: none;
  }
}

img {
  width: 100%;
  height:auto;
}

.img-shop {
  width: 215px;
  height: 162px;
}

@media (min-width:320px){
  figure {
    text-align: center;
  }
}

@media (min-width:720px){
  figure {
    text-align: right;
  }
}
 
.logo {
  display: flex;
  font-size: 42px;
  font-weight: lighter;

}

.logo:hover {
  text-decoration: none;
  color: #2e50a0;
}

a, .link {
  color: #000;
  text-decoration: none;
}

a:hover, .link:hover {
  color:#2e50a0;
  text-decoration: underline;
}

hr {
  border: 1px #e8eff4 solid;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3,* + h4,* + h5,* + h6 {
  margin:0.67em 0 0 0;
}

p, ul, ol, figure {
  margin: 0 0 15px 0;
}

* + p, * + ul, * + ol, * + figure{
  margin-top: 15px;
}

ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
  margin: 0;
}

.copyright {
  font-size: 15px;
  color: #909090;
  text-align: center;
}

h2 {
  font-weight: normal;
}