.navigation {
    display: none;
}

@media (min-width:960px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
}
    .nav-item {
        padding: 10px 0;
        margin-left: 25px;
        color: #6c6c6c;
    }

    .header-right-navbar {
        display: none;
    }
}

