.section {
  overflow: hidden;
  padding: 25px 0 0 0;
}

section.section.cards {
  padding-bottom: 25px;
}

.section-title {
  font-size: 35px;
  color: #6f7173;
  text-align: center;
}

.section-about {
  background-image: url('../../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg');
    padding: 30px 0;
    background-size: cover;
    position: relative;
    padding: 20px 0;
}